<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Q10</title>
    <style>
        h1{font-size: 20px;}
        </style>
</head>
    <body>
    <div style="margin:50px">
    <h1>{{prompt}}</h1>
    <h1>{{map}}</h1>
    <form action = "" method="post">
        <input type ="radio" name="option" value = "Direction 1">Direction 1
        <br><br>
        <input type ="radio" name="option" value = "Direction 2">Direction 2
        <br><br>
        <input type ="radio" name="option" value = "Direction 3">Direction 3
        <br><br>
        <input type ="radio" name="option" value = "Direction 4">Direction 4
        <br><br>
        <input type = 'submit' name='submitform' value = 'This should work.' style="font-size: 50px;color: red;">
    </form>
    </div>
    </body>
</html>