<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Q1</title>
</head>
    <body>
    <p>{{prompt}}</p>
    <form action = "" method="post">
        <input type ="radio" name="option" value = "Collect Food and other resources">Collect Food and other resources
        <br><br>
        <input type ="radio" name="option" value = "Find a vehicle">Find a vehicle
        <br><br>
        <input type ="radio" name="option" value = "Look for shelter">Look for shelter
        <br><br>
        <input type ="radio" name="option" value = "Look for other survivors">Look for other survivors
        <br><br>
        <input type = 'submit' name='submitform' value = 'Next Question'>
    </form>
    </body>
</html>