<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Q1</title>
</head>
    <body>
    <p>{{prompt}}</p>
    <form action = "" method="post">
        <input type ="radio" name="option" value = "Stay at home and wait for help">Stay at home and wait for help
        <br><br>
        <input type ="radio" name="option" value = "Leave your home">Leave your home
        <br><br>
        <input type = 'submit' name='submitform' value = 'Next Question'>
    </form>
    </body>
</html>