<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Q5</title>
</head>
    <body>
    <p>{{prompt}}</p>
    <form action = "" method="post">
        <input type ="checkbox" name="mycheckbox" value = "3 Bottles of water">3 Bottles of water
        <br><br>
        <input type ="checkbox" name="mycheckbox" value = "4 Slices of toasts">4 Slices of toasts
        <br><br>
        <input type ="checkbox" name="mycheckbox" value = "Flashlight">Flashlight
        <br><br>
        <input type ="checkbox" name="mycheckbox" value = "First aid kit">First aid kit
        <br><br>
        <input type ="checkbox" name="mycheckbox" value = "N95 face masks">N95 face masks
        <br><br>
        <input type ="checkbox" name="mycheckbox" value = "Basic medicines">Basic medicines
        <br><br>
        <input type ="checkbox" name="mycheckbox" value = "Family photo">Family photo
        <br><br>
        <input type ="checkbox" name="mycheckbox" value = "A bottle of vodka">A bottle of vodka
        <br><br>
        <input type = 'submit' name='submitform' value = 'Next Question'>
    </form>
    </body>
</html>