<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Q7</title>
    <style>
        h1{font-size: 20px;}
        </style>
</head>
    <body>
    <div style="margin:50px">
    <h1>{{prompt}}</h1>
    <form action = "" method="post">
        <input type ="checkbox" name="mycheckbox" value = "They walk slow">They walk slow
        <br><br>
        <input type ="checkbox" name="mycheckbox" value = "They may or may not have sights">They may or may not have sights
        <br><br>
        <input type ="checkbox" name="mycheckbox" value = "They attack human and feed on human">They attack human and feed on human
        <br><br>
        <input type ="checkbox" name="mycheckbox" value = "They only appear at night">They only appear at night
        <br><br>
        <input type ="checkbox" name="mycheckbox" value = "They can think">They can think
        <br><br>
        <input type ="checkbox" name="mycheckbox" value = "They look different from human">They look different from human
        <br><br>
        <input type = 'submit' name='submitform' value = 'hmmm.. Is that correct?' style="font-size: 50px;color: red;">
    </form>
    </div>
    </body>
</html>