<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Q8</title>
</head>
    <body>
    <p>{{prompt}}</p>
    <form action = "" method="post">
        <input type ="radio" name="option" value = "Gun">Gun
        <br><br>
        <input type ="radio" name="option" value = "Chainsaw">Chainsaw
        <br><br>
        <input type ="radio" name="option" value = "Baseball Bat">Baseball Bat
        <br><br>
        <input type ="radio" name="option" value = "Wrench">Wrench
        <br><br>
        <input type = 'submit' name='submitform' value = 'Next Question'>
    </form>
    </body>
</html>