<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Q9</title>
</head>
    <body>
    <p>{{prompt}}</p>
    <form action = "" method="post">
        <input type ="radio" name="option" value = "Living Room Window -> Frontyard -> Front Street">Living Room Window -> Frontyard -> Front Street
        <br><br>
        <input type ="radio" name="option" value = "Kitchen Windor -> Backyard -> Front Street">Kitchen Windor -> Backyard -> Front Street
        <br><br>
        <input type ="radio" name="option" value = "Living Room Window -> Frontyard -> Back Street">Living Room Window -> Frontyard -> Back Street
        <br><br>
        <input type ="radio" name="option" value = "Kitchen Windor -> Backyard -> Back Street">Kitchen Windor -> Backyard -> Back Street
        <br><br>
        <input type = 'submit' name='submitform' value = 'Next Question'>
    </form>
    </body>
</html>